/build
/log
/install
/video
/models
*.log
*.bag
*.bag.active
*.bag.index
*.bag.lock
*.bag.meta
*.bag.partial
*.bag.tmp
*.log
*.avi
*.mp4
*.mkv
*.h264
*.h265
*.onnx
*.openvino
*.bin
CLAUDE.md
.graphifyignore
